*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #123;
}

:root{
    --bg-color:#171427;
    --bird-color:gold;
    --obstacle-color:#f8f8f8;
}

h1{
    color: gold;
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

#game{
    background-color: var(--bg-color);
    width: 400px;
    height: 550px;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
#obstacle{
    width: 50px;
    height: 500px;
    background-color: var(--obstacle-color);
    position: absolute;
    top: 0;
    left: 100%;
    animation: obstacle-anim 2s infinite linear;
    z-index: 1;
}


#hole{
    width: 50px;
    height: 150px;
    background-color: var(--bg-color);
    position: absolute;
    top: 150px;
    left: 100%;
    animation: obstacle-anim 2s infinite linear;
    z-index: 2;
}

@keyframes obstacle-anim {
    0%{
        left: 100%;
    }
    100%{
        left: -60px;
    }
}
@media (max-width:360px){
    #game{
        width: 300px;
    }
}

#bird{
    width: 20px;
    height: 20px;
    background-color: var(--bird-color);
    position: absolute;
    top: 100px;
    z-index: 3;
}
